@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;700&family=Sono:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}



nav {
  margin-top: 44px;
  margin-left: 76px;
}
.link-nav {
  text-decoration: none;
  margin-right: 23px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 29px;
  color: #989d9c;
}

nav button {
  background: #665ae1;
  border-radius: 20.5px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 29px;
  padding: 6px 22px;
  border: none;
  color: #ffffff;
}

figure {
  display: inline-block;
  margin: 45px 0 0 145px;
}

figure img {
  width: 450PX;
}

section {
  display: inline-block;
  width: 428px;
  margin-left: 106px;
}

section h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 122px;
  color: #515151;
  word-spacing: 18px;
}

section h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 71px;
  color: #515151;
  margin-bottom: 32px;
}

section p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #848484;
  margin-bottom: 32px;
  text-align: justify;
}

section button {
  background: #adff00;
  border-radius: 20.5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 10px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 34px;
  color: #000000;
  border: none;
  margin-bottom: 32px;
}

/* responsível para smartphones */
@media screen and (max-width: 600px) {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
  }

  nav {
    display: none;
    margin: 0;
    padding: 0;
  }

 main {
  display: block;
  justify-content: center;
  position: relative;
 }

  figure {
    width: auto;
    margin: 0;
    position: relative;
    display: block;
  }

  section {
    width: auto;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 30px;
  }

  section h1 {
    width: auto;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }

  section h2 {
    text-align: center;
    font-size: 30px;
    margin: 30px 64px 20px 64px;
    line-height: 20px;
  }

  figure img {
    width: 394px;
    margin: 150px 5px 20px 8px;
  }

  section p {
    display: none;
  }

  section button {
    width: 239px;
    margin-left: 58px;

  }
}
